export TF_VAR_AWS_REGION="us-east-1"
export TF_VAR_AWS_PROFILE="emojot-dev"
export AWS_PROFILE="$TF_VAR_AWS_PROFILE"
export TF_VAR_AWS_ROLE_ARN=""
export TF_VAR_AWS_ROLE_SESSION_NAME="terraform-local-session"

# Load local overrides and secrets (not committed).
source_env_if_exists .envrc.local

